.row{max-width:1000px; width:100%; margin:0 auto;}
.row:before, .row:after { content: ""; display: table; }
.row:after { clear: both; }
.row { *zoom: 1; }
.row [class*="column"] {display: block;float: left; margin-right: 3.5%;}
.row [class*="column"].last{margin-right:0;}

.column1{width: 5.125%;}
.column2{width: 13.75%;}
.column3{width: 22.375%;}
.column4{width:31%;}
.column5{width:39.625%;}
.column6{width:48.25%;}
.column7{width:56.875%;}
.column8{width:65.5%;}
.column9{width:74.125%;}
.column10{width:82.75%;}
.column11{width:91.375%;}
.column12{width:100%;float:none; margin-right: 0px}


.row [class*="inner-column"] {display: block;float: left; margin-right: 5.201%}
.row [class*="inner-column"].last{margin-right:0;}

.inner-column4{width:47.4%}
.inner-column3{width:34%}
.inner-column5{width:60.8%}

.row [class*="interior"] {display: block;float: left; margin-right: 5.201%}
.row [class*="interior"].last{margin-right:0;}

.interior3{width:34.375%}
.interior9{width:60.424%}